* {
    box-sizing: border-box;
  }

html { 
background: url(../images/pastel-back.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#gameName {
    background-color: #61106e;
    color: white;
    width: 500px;
    height: 100px;
    text-align: center;
    padding-top: 5px;
    font-size: 125%;
}

#instructions {
    background-color: #eddfce;
    color: #0b31ba;
    width: 600px;
    height: 500px;
    font-size: 125%;
    text-align: center; 
    padding-top: 10px;
    margin-top: 10px;   
}

#randomScore {
    width: 350px;
    height: 150px;
    background-color: #c081c7;
    color:black;
    font-size: 40px;
    margin-top: 10px;
    float: left;
}

#winsLosses {
    background-color: #b0d1e8;
    width: 100px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

br {
    clear: both;
}   

#gem1{
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}

#gem2{
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}

#gem3{
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}

#gem4{
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}

#totalScore {
    clear: both; 
    background-color: teal;
    color: white;
    font-size: 20px;
    width: 350px;
    height: 35px;
    margin-top: 10px;
    padding: 5px;
}

#scoreCount {
    background-color: teal;
    color: white;
    width: 350px;
    height: 150px;
    margin-top: 10px;
    font-size: 40px;
}

